@import "../Variables/Colors";

.post-comment-container {
  width: 60%;
  margin: 20px auto;
  // background-color: aquamarine;

  @include for-size(phone) {
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  > input {
    width: 90%;
    height: 60px;
    border: none;
    background-color: $grey2;

    @include for-size(phone) {
      width: 95%;
      height: 100px;
    }
  }
  > button {
    width: 10%;
    height: 60px;
    border: none;
    background-color: $grey3;
    cursor: pointer;

    @include for-size(phone) {
      height: 30px;
      width: 95%;
    }
  }
}
