@import "../Variables/Colors";

.admin-comic-sidebar {
  width: 300px;
  height: 800px;
  background-color: rgb(40, 49, 49);
  position: fixed;
  top: 0;

  > img {
    width: 250px;
    margin-bottom: 30px;
    margin-left: 25px;
  }

  .admin-list {
    width: 100%;
    height: 50px;
    display: flex;
    border: 1px solid rgb(68, 68, 68);
    cursor: pointer;

    &:hover {
      background-color: rgb(51, 50, 53);
    }

    > i {
      font-size: 1.2rem;
      line-height: 50px;
      margin: 0 20px 0 20px;
      color: $white;
    }
    > p {
      line-height: 50px;
      color: $white;
    }
  }
}
