@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import "./Base/Mixin";
@import "./Base/Reset";

// @import "./Variables/Colors";

@import "./Pages/LoginPage";
@import "./Pages/Schedule";
@import "./Pages/AdminComic";
@import "./Pages/AddComicForm";
@import "./Pages/FormAddContent";
@import "./Pages/AdminSchedule";
@import "./Pages/DaySchedule";
@import "./Pages/ComicContent";

@import "./Components/Login";
@import "./Components/Navbar";
@import "./Components/Jumbotron";
@import "./Components/NewComic";
@import "./Components/Card";
@import "./Components/Card2";
@import "./Components/Schedule";
@import "./Components/All";
@import "./Components/Genres";
@import "./Components/Footer";
@import "./Components/Profile";
@import "./Components/GenrePage";
@import "./Components/AdminNavbar";
@import "./Components/JumbotronInfo";
@import "./Components/ListEpisode";
@import "./Components/Input";
@import "./Components/Comments";
@import "./Components/ContentNavbar";
