$white: #fff;
$black: #000;
$bgUp: #eebece;
$peachyPink: #ff8787;
$richBlue: #0b24fb;
$yellowgreen: rgb(208, 255, 0);
$younggreen: rgb(9, 255, 0);
$greywhite: #909090;
$bggrey: #f8f8f8;
$whitelighter: rgb(204, 203, 203);
$grey2: #bebebe;
$grey3: #e8e7e7;
$grey4: #fdfdfd;
$grey5: #f0ffff;
$grey6: #f3f3f3;
$grey7: #2d3030;
$grey8: #212424;
$gold: #d4af37;
