@import "../Variables/_Colors.scss";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body {
  padding: 0;
  background-color: $bggrey;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.comic-title-section {
  width: 100%;
  display: flex;
  align-items: center;
  // justify-content: space-evenly;
  padding: 30px 0 0 0;

  > i {
    font-size: 2rem;
    color: $younggreen;
    padding-right: 10px;
  }
}

.active-m {
  color: $yellowgreen;
}

.admin-comic-container {
  width: 70%;
  height: 500px;
  margin: 10px 0 10px 330px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.message-error {
  color: red;
  font-size: 0.9rem;
}

.input-error {
  border-bottom: red;
}
